@using SimpleEcommerce.Application.Features.Orders
@model OrderItemVM



    <!-- This div will contain dynamically added order items -->
    <div id="orderItem_0" class="order-item">
        <div class="form-group">
            <label for="ProductId_@Model.ProductId">Product:</label>
            <select name="ProductId" class="form-control">
                <option value="">Select Product</option>
                @foreach (var prod in ViewBag.Products)
                {
                    <option value="@prod.ProductId">@prod.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="Quantity_@Model.ProductId">Quantity:</label>
            <input type="number" name="OrderItems[@Model.ProductId].Quantity" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Price_0">Price:</label>
            <input type="number" name="OrderItems[@Model.ProductId].Price" class="form-control" />
        </div>
    </div>



<button type="button" class="btn btn-primary" id="addItemBtn">Add Item</button>


