<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="productName">Product Name:</label>
    <input type="text" class="form-control" id="productName" formControlName="Name">
  </div>
  <div class="form-group">
    <label for="productPrice">Price:</label>
    <input type="number" class="form-control" id="productPrice" formControlName="Price">
  </div>
  <div class="form-group">
    <label for="productDescription">Description:</label>
    <textarea class="form-control" id="productDescription" formControlName="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="productCategory">Category:</label>
    <select class="form-control" id="productCategory" formControlName="CategoryId">
      <option value="" selected disabled>Select Category</option>
      <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="productImage">Image:</label>
    <input type="file" class="form-control-file" id="productImage" (change)="onFileSelected($event)">
  </div>
  <button type="submit" class="btn btn-primary">Add Product</button>
</form>